<% layout('layouts/boilerplate.ejs') -%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="campground[title]" id="title" class="form-control" required />
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="campground[location]" id="location" class="form-control" required />
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <input type="file" name="image" id="" class="form-control" multiple />
                    <!-- <label for="image" class = "form-label">Image URL</label>
                            <input type="text" name="campground[image]" id="image" class = "form-control" required> -->
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="number" name="campground[price]" class="form-control" placeholder="0"
                            aria-label="price" aria-describedby="basic-addon1" required />
                    </div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="campground[description]" id="" cols="30" rows="3" class="form-control"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button type="submit" class="btn btn-success mb-3">
                    Add Campground
                </button>
            </form>
            <a href="/campgrounds"><button class="btn btn-primary mb-3">Return to Campground</button></a>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            "use strict";

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll(".validated-form");

            // Loop over them and prevent submission
            Array.from(forms).forEach(function (form) {
                form.addEventListener(
                    "submit",
                    function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add("was-validated");
                    },
                    false
                );
            });
        })();
    </script>